$font-size-base: 14px;
$font-size-small: 12px;
$font-size-medium: 18px;
$font-size-large: 24px;
$font-size-xl: 52px;

$font-family-headings: 'Spectral', serif;
$font-family-regular: 'Open Sans', sans-serif;