.a-btn--primary {
  color: $white;
  border: 1px solid $white;
  letter-spacing: 0.2em;
  font-weight: 600;
  padding: 15px 35px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
  background: transparent;
  &:hover {
    background-color: $white;
    border: 1px solid transparent;
    color: $black;
  }
}
